
body{
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  

    background: pink;
}

#firstheader{
    border: 2px solid white; 
}

.cardholder{
    border: 2px solid white; 
   /* margin-left: 200px; */
    /* height: 200px; */
    width: 340px;
    padding: 15px;
    margin: 10px 0;
    /* height:210px; */
    vertical-align: middle;
    display: inline-block;
    border-radius: 8px;
    text-align: left;
} 
     
.firstcard{
      /*  border: 2px solid white; */
        margin-left: auto;
        margin-right: auto; 
       /* border-top-right-radius: 8px; */
        text-align: right;
    }

    .parentdiv{
        /* border: 2px solid white;  */
        width: 90%;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }

    .custom-roundedshape{
        height:45px;
        width:45px;
        border-radius:50%;
        border: 2px solid white;
        text-align: center;
        padding: 5px;
        display: inline-block;
    }

    .custom-icons{
        color: white;
        font-size: 24px;
        display: inline-block;
        margin-top: 10px;
    }

    h2{
        display: inline-block;
    }

    .header-container{
       /* border: 2px dotted hotpink; */
        text-align: left;
    }


.daisy{
 /* border-width: 10px;
    border-style: dashed;
    border-color:purple; */
   border: 2px solid green; 

   /*border-top:5px solid yellow;
   border-right:5px solid green;
   border-bottom:5px solid red;
   border-left: 5px solid tomato; */

  /* padding-bottom: 20px;
   padding-left: 50px;
   padding-right: 10px;
   padding-top: 20px; */

   padding: 100px 26px 69px 0;

   /*marging-bottom: 42px ;
   marging-left:30px;
   margin-top: 60px; */

   margin: 30px 20px;
}